.booking-form {
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.booking-form .booking-form-inner {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.booking-form form input,
.booking-form form select,
.booking-form form .nice-select {
  background-color: transparent;
  width: 100%;
  height: 50px;
  font-size: 14px;
  border: none;
  border-bottom: 2px solid #4c6275;
  line-height: 50px;
  color: rgba(119, 119, 119, 0.5);
}

.booking-form form .nice-select {
  border-color: #4c6275 !important;
  padding-left: 0;
}

.booking-form form .nice-select::after {
  display: none;
}

.booking-form form .nice-select::before {
  left: 0;
}

.booking-form form label {
  color: #222;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  display: block;
  margin: 0;
  width: 80%;
}

.booking-form form .inputs-filed {
  position: relative;
}

.booking-form form .inputs-filed input,
.booking-form form .inputs-filed .nice-select {
  padding: 0 20px;
}

.booking-form form .inputs-filed .icon {
  position: absolute;
  left: 0;
  bottom: 15px;
  font-size: 14px;
  color: #4c6275;
}

.booking-form form button {
  width: 100%;
  border: none;
  background-color: #4c6275;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  height: 60px;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.booking-form form button:hover {
  background-color: #111;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .booking-form form button {
    font-size: 12px;
    letter-spacing: 1px;
  }
}

.booking-form.booking-form-dark {
  background-color: #222;
  margin-top: 0;
}

.booking-form.booking-form-dark .booking-form-inner {
  background-color: transparent;
}

.booking-form.booking-form-dark form label {
  color: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .booking-form.boxed-layout {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .booking-form.boxed-layout {
    margin-top: 0;
  }
}

.booking-form.boxed-layout form button {
  font-size: 12px;
  letter-spacing: 1;
}
