html, body {
	background: #BAD6CD;
	width: 99%;
	height: 100%;
	padding: 0;
    margin: 0;
}
a, button {
	text-decoration: none;
	color: #FFF;
	font-family: Raleway;
	font-size: 20px;
	font-style: normal;
	font-weight: 560;
	line-height: normal;
}
.header {
	height: 10%;
	display: flex;
    align-items: center;
    position: relative;
    padding-top: 2%;
    margin-left: 3%;
}
.logo {
	
}
.right {
	display: flex;
	width: 40%;
	justify-content: center;
	align-items: center;
	gap: 10%;
	position: absolute;
	right: 1%;
	height: 90%;
}
.try-button {
	color: white;
	background: #BAD6CD;
	border-radius: 12px;
	border: 2px solid #FFF;
	width: 40%;
	height: -webkit-fill-available;
}
.try-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.try-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.try-button:hover span {
  padding-right: 25px;
}

.try-button:hover span:after {
  opacity: 1;
  right: 0;
}
.title {
	color: white;
	margin-left: 3%;
	display: grid;
	padding-top: 3%;
	padding-bottom: 2%;
}
.sub-title {
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
}
.main-title {
	font-family: Montserrat;
	font-size: 47px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.main {
	height: 55%;
	margin-left: 2%;
}
table {
	height: 100%;
	width: 100%;
	padding-top: 4%;
}
table tr {
	height: 50%;
}
table tr td {
	width: 30%;
	padding: 1%;
}
.filter {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
	border-radius: 12px;
	background: rgba(255, 255, 255, 0.40);

	/* shadow */
	box-shadow: 1.186px 1.423px 3.148px 0px rgba(0, 0, 0, 0.02), 5.216px 6.26px 6.519px 0px rgba(0, 0, 0, 0.03), 12.804px 15.364px 13px 0px rgba(0, 0, 0, 0.04), 24.659px 29.591px 25.481px 0px rgba(0, 0, 0, 0.04), 41.493px 49.792px 46.852px 0px rgba(0, 0, 0, 0.05), 64.018px 76.822px 80px 0px rgba(0, 0, 0, 0.07);
}
.pad {
	  margin-top: 3%;
    margin-left: 3%;
    height: 80%;
}
table tr td .tablebutton {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	color: black;

	height: 100%;
	border-radius: 12px;
	border: 2px solid #FFF;
	background: rgba(255, 255, 255, 0.80);

	/* shadow */
	box-shadow: 1.186px 1.423px 3.148px 0px rgba(0, 0, 0, 0.02), 5.216px 6.26px 6.519px 0px rgba(0, 0, 0, 0.03), 12.804px 15.364px 13px 0px rgba(0, 0, 0, 0.04), 24.659px 29.591px 25.481px 0px rgba(0, 0, 0, 0.04), 41.493px 49.792px 46.852px 0px rgba(0, 0, 0, 0.05), 64.018px 76.822px 80px 0px rgba(0, 0, 0, 0.07);
}
.tablebutton:hover {
	background: rgba(255, 255, 255, 0.60);

	/* shadow */
	box-shadow: 1.186px 1.423px 3.148px 0px rgba(0, 0, 0, 0.1), 5.216px 6.26px 6.519px 0px rgba(0, 0, 0, 0.1), 12.804px 15.364px 13px 0px rgba(0, 0, 0, 0.04), 24.659px 29.591px 25.481px 0px rgba(0, 0, 0, 0.04), 41.493px 49.792px 46.852px 0px rgba(0, 0, 0, 0.05), 64.018px 76.822px 80px 0px rgba(0, 0, 0, 0.07);
}
.checkb {
	display: flex;
	align-items: center;
	width: 25%;
}
.booking-form form input[type='checkbox'] { 
	height: 35px;
}
.filter-table {
	border-collapse: separate; 
  border-spacing: 30px;
	padding-top: 0;
}
.filter-table tr td {
	background: white;
	border-radius: 20px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.sliderb {
	display: flex;
	align-items: center;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  width: 60px;
}

.slider.round:before {
  border-radius: 50%;
}
.vl {
	border-left: 1px solid black;
}
#result-table tbody tr:last-child { background:black; }
.result-block {
	  height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
}
}
.result-row {
	width: 100%; 
	height: 100%; 
	background: white; 
	box-shadow: 1.1855266094207764px 1.4226319789886475px 3.1481480598449707px rgba(0, 0, 0, 0.02); 
	border-radius: 12px; border: 2px white solid
}