.container {
    
}

.select-menu {
    
}

.sl-btn {
    background-color: white;
    padding: 20px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.sl-btn .icon {
    transition: 0.3s;
}

.sl-content {
    margin-top: 5px;
    padding: 20px;
    background-color: 
white;
    border-radius: 3px;
}

.sl-search {
    display: flex;
    align-items: baseline;
}
.sl-search input[type="text"] {
    width: 100%;
    padding: 10px;
    padding-left: 35px;
    font-size: 16px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.sl-search input[type="text"]:hover,
.sl-search input[type="text"]:focus {
    border-color: #bf984d;
}
.sl-search .icon {
    font-size: 16px;
    z-index: 1;
    width: 20px;
    margin-right: -20px;
    padding-left: 10px;
    font-size: 20px;
    color: #999;
}

.sl-options ul {
    all: unset;
    list-style: none;
    margin-top: 10px;
    display: block;
    max-height: 250px;
    overflow-x: auto;
}
.sl-options li {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}
.sl-options li:hover,
.sl-options li.selected {
    background-color: #d7ccbf;
}

.sl-content {
    display: none;
    position: fixed;
    z-index: 1;
}

.active .sl-content {
    display: block;
}

.active .sl-btn .icon {
    transform: rotate(180deg);
}